* {
  box-sizing: border-box;
  font-family: "Segoe UI", SegoeUI, "Microsoft JhengHei", 微軟正黑體,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
}
.container {
  max-width: calc(1600px + 10%);
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}
nav .navbar {
  height: 55px;
  width: 100%;
}
nav .navbar .main-nav {
  height: 100%;
  width: calc(100% - 500px);
  display: flex;
  align-items: center;
  justify-items: center;
  min-width: 610px;
  float: left;
}
nav .navbar .main-nav > a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0px 16px;
}
nav .navbar .main-nav > a > img {
  width: 108px;
}
nav .navbar .main-nav > .pc-menu {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 10px 20px 10px 0;
  padding: 0;
  list-style-type: none;
  
}
nav .navbar .main-nav .pc-menu > li:hover > a {
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}
nav .navbar .main-nav .pc-menu > li {
  padding: 0 15px;
  font-size: 13px;
}
nav .navbar .sub-nav .pc-menu > li:first-child {
  height: 100%;
  position: relative;
  line-height: 100px;
}
nav .navbar .sub-nav .pc-menu > li:first-child::after {
  font-family: "Font Awesome\ 5 Free";
  content: "\f078";
  font-size: 14px;
  font-weight: 900;
}
nav .navbar .sub-nav .pc-menu > li:first-child:hover{
  cursor: pointer;
}
nav .navbar .sub-nav .pc-menu > li:first-child:hover .drop-menu {
  display: flex;
}
nav .navbar .sub-nav .pc-menu > li:first-child .drop-menu {
  display: none; 
  z-index: 1;
  line-height: 20px;
}
.drop-menu>ul{
  cursor: default;
}
nav .navbar .main-nav .pc-menu > li:last-child {
  display: none;
}

nav .navbar .sub-nav .pc-menu .drop-menu {
  display: flex;
  position: absolute;
  right: -280px;
  top:70px;
  flex-wrap: wrap;
  min-width: 1230px;
  background-color: #f2f2f2;
  padding-left: 0;
}
nav .navbar .sub-nav .pc-menu .drop-menu ul {
  padding-bottom: 30px;
  padding-top: 18px;
}
nav .navbar .sub-nav .pc-menu .drop-menu ul li {
  width: 150px;
  padding: 20px 0 0;
  list-style-type: none;
}

nav .navbar .sub-nav .pc-menu .drop-menu ul li:hover {
  text-decoration:underline;
}

.check-site-map {
  height: 36px;
  background-color: rgba(0, 0, 0, 0.1);
}
.check-site-map > a {
  line-height: 36px;
  position: relative;
  margin-right: 10px;
}
.check-site-map > a:hover{
  text-decoration:underline;
}
.check-site-map > a::after {
  font-family: "Font Awesome\ 5 Free";
  content: "\f054";
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: 900;
}
.sub-nav .pc-menu > li {
  font-size: 13px;
  margin-right: 50px;
}
.sub-nav .pc-menu > li:last-child {
  margin-right: 0px;
}
.sub-nav .pc-menu > li > a {
  max-height: 24px;
}
nav .navbar .sub-nav .pc-menu > li:hover > a>span {
  padding-bottom: 5px;
  border-bottom: 2px solid #000;
}

nav .navbar .sub-nav .pc-menu > li:nth-child(2)>a::after {
  font-family: "Font Awesome\ 5 Free";
  content: "\f002";
  font-size: 14px;
  font-weight: 900;
}

nav .navbar .sub-nav .pc-menu > li:nth-child(3)>a::after {
  font-family: "Font Awesome\ 5 Free";
  content: "\f07a";
  font-size: 14px;
  font-weight: 900;
}
nav .navbar .sub-nav .pc-menu > li:last-child>a::after {
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' stroke='%23707070'%3E%3Cg class='mectrl_stroke' stroke-width='1.9' fill='none'%3E%3Ccircle cx='32' cy='32' r='30.25'/%3E%3Cg transform='matrix(1.1 0 0 1.1 8.8 5.61)'%3E%3Ccircle class='mectrl_stroke' cx='20' cy='16' r='7'/%3E%3Cpath class='mectrl_stroke' d='M30 35h10m-5-5v10M30.833 32.09A11 11 0 009 34'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  width: 30px;
  float: right;
  margin-top: 60px;
  margin-left: 10px;
  transform: translateY(-50%);
}
.check-site-map {
  display: flex;
  justify-content: center;
  width: 100%;
}
nav .navbar .sub-nav {
  display: flex;
  height: 55px;
  align-items: center;
  float: right;
}
nav .navbar .sub-nav .pc-menu {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100px;
}
.main-nav > .pc-menu > li > a {
  text-align: center;
  line-height: 100px;
}
.sub-nav > .pc-menu > li > a {
  text-align: center;
  line-height: 100px;
}
.main-merchandise-img {
  position: relative;
}
.main-merchandise-img > img {
  height: auto;
  max-width: 100%;
}

.merchandise-name {
  margin-bottom: 10px;
  font-size: 34px;
  font-weight: 500;
}
.buy-btn {
  width: 140px;
  height: 40px;
  border: 1px solid #000;
  text-align: center;
  color: #fff;
  background-color: black;
  margin-top: 12px;
  line-height: 40px;
  position: relative;
}
.buy-btn:hover > a {
  padding-bottom: 3px;
  border-bottom: 2px solid white;
}
.buy-btn a::after {
  font-family: "Font Awesome\ 5 Free";
  content: "\f054";
  font-size: 14px;
  font-weight: 900;
  position: absolute;
  right: 20px;
  transition: all 0.2s;
}
.buy-btn a:hover::after {
  position: absolute;
  right: 5px;
}
.img-inside-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
}
.introduction {
  margin: 15px 0;
  font-size: 15px;
  line-height: 20px;
}
.block-under-btn {
  margin: 80px 0;
  height: 112px;
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-left: 0px;
}
h3{
  margin-bottom: 0;
}
p{
  margin-top: 0;
}
.block-under-btn a > div:hover {
  text-decoration:underline;
}
.block-under-btn > li {
  border: 2px;
  text-align: center;
  padding: 12px 20px 0 20px;
}
.block-under-btn > li > a > div {
  display: flex;
  font-size: 15px;
  width: 120px;
  height: 40px;
  text-align: center;
}

.under-merchandise-block > div {
  display: flex;
  flex-direction: row;
}
.under-merchandise-block > div > a {
  padding-bottom: 50px;
  margin-right: 24px;
  display: block;
  list-style-type: none;
  flex-direction: row;
  text-decoration: none;
  width: 100%;
  height: auto;
}
.under-merchandise-block > div > a:last-child {
  margin-right: 0px;
}
.under-merchandise-block > div > a > img {
  width: 100%;
}
.btn-block {
  display: flex;
}
.btn-block {
  padding: 10px 40px 7px 0;
  margin-right: 4px;
}
.btn-block > span:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid #0067b8;
}
.sub-merchandise-img > img {
  height: auto;
  max-width: 100%;
}
.download-btn {
  width: 140px;
  height: 40px;
  border: 1px solid #000;
  text-align: center;
  color: #fff;
  background-color: black;
  margin-top: 12px;
  line-height: 40px;
  position: relative;
}
.download-btn > span:hover {
  padding-bottom: 0;
  border-bottom: 2px solid white;
}
.download-btn::after {
  font-family: "Font Awesome\ 5 Free";
  content: "\f054";
  color: white;
  font-size: 14px;
  font-weight: 900;
  position: absolute;
  right: 20px;
  transition: all 0.2s;
}
.download-btn:hover::after {
  position: absolute;
  right: 10px;
}
.sub-img-inside-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.attention-block {
  display: flex;
  align-self: center;
  height: 32px;
  margin-bottom: 50px;
}
.attention-block > ul {
  display: flex;
  list-style-type: none;
  width: 88px;
  height: 32px;
  align-self: center;
  padding: 0;
}
.attention-block > ul > li {
  margin-left: 15px;
}
.baseline {
  text-decoration: none;
  color: black;
}
.baseline-white {
  text-decoration: none;
  color: white;
}
.baseline-blue {
  padding: 0;
  color: #0067b8;
  position: relative;
}
.baseline-blue::after {
  font-family: "Font Awesome\ 5 Free";
  content: "\f054";
  color: #0067b8;
  font-size: 14px;
  font-weight: 900;
  position: absolute;
  top: 5px;
  left: 70px;
  transition: all 0.2s;
}
.six-people {
  margin-right: 50px;
  padding-bottom: 10px;
  display: inline-block;
}
.under-merchandise-block div a:nth-child(2) > span {
  display: inline-block;
}
.six-people::after {
  left: 130px;
}
.one-people::after {
  left: 100px;
}
.baseline-blue:hover::after {
  position: absolute;
  left: 90px;
}
.six-people:hover::after {
  left: 150px;
}
.one-people:hover::after {
  left: 120px;
}
footer{
  background-color: #f2f2f2;
}
.footer-block {
  padding-right: 95px;
  display: flex;
  flex-direction: row;
  max-width: calc(1600px + 10%);
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 5%;
  justify-content: space-between;
  background-color: #f2f2f2;
}
.footer-block ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0 1px;
  margin-top: 30px;
}
.footer-block ul:last-child {
  padding-right: 5%;
}
.footer-block > ul > li {
  margin: 8px 0;
  font-size: 11px;
  line-height: 16px;
}
.footer-block > ul > li > a:hover {
  padding-bottom: 0;
  border-bottom: 1px solid #000;
}
.under-footer {
  width: 100%;
}
.under-footer > ul > li>a:hover {
  border-bottom: 1px solid #000;
}
.under-footer > ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.under-footer > ul > li {
  margin: 0 24px 4px 0;
  font-size: 11px;
}
.under-footer > ul > li:first-child::before {
  font-family: "Font Awesome\ 5 Free";
  content: "\f57e";
  font-size: 20px;
  font-weight: 900;
  margin-right: 10px;
}
.under-footer > ul > li:nth-child(2) {
  margin-left: auto;
}
.under-footer > ul > li:last-child {
  margin: 0 0 4px 0;
}
.under-footer > ul > li:last-child:hover {
  border-bottom: 0;
}
#text {
  cursor: default;
}
@media (max-width: 1400px) {
  .main-nav {
    width: calc(100% - 260px);
  }
  .sub-nav {
    padding-left: unset;
  }
  .sub-nav > .pc-menu > li > a>span {
    display: none;
  }

  .sub-nav {
    min-width: 0;
    min-width: 260px;
  }
  nav .navbar .sub-nav .pc-menu > li:hover {
    border-bottom: none;
  }
  nav .navbar .sub-nav .pc-menu {
    position: relative;
  }

  nav .navbar .sub-nav .pc-menu > li {
    margin-right: 20px;
  }
  nav .navbar .sub-nav > .pc-menu > li:last-child {
    margin-right: 0px;
  }
  nav .navbar .sub-nav .pc-menu > li:first-child {
    margin-right: 50px;
  }

  nav .navbar .sub-nav .pc-menu > li:nth-child(2)::after {
    text-align: center;
    line-height: 100px;
  }
  nav .navbar .sub-nav .pc-menu > li:nth-child(3)::after {
    text-align: center;
    line-height: 100px;
  }
  nav .navbar .sub-nav .pc-menu > li:nth-child(4)::after {
    margin-right: 0px;
  }
}
@media (max-width: 1184px) {
  .container {
    position: relative;
  }
  .pc-menu {
    margin-right: 0;
  }
  .sub-nav {
    padding-left: 0;
  }
  .merchandise-name {
    margin: 0;
    font-size: 24px;
  }
  .under-merchandise-block {
    padding: 0 5%;
  }
  .under-merchandise-block div a:nth-child(2) {
    margin: 0;
  }
  .under-merchandise-block > div {
    flex-wrap: wrap;
  }

  .under-merchandise-block > div > a {
    width: calc(50% - 12px);
  }
  #text {
    padding: 0 5%;
  }
  .attention-block {
    padding: 0 5%;
  }
  .sub-img-inside-text {
    top: 50%;
    transform: translate(-50%,-80%);

  }
  .footer-block {
    padding: 0;
  }
  .footer-block > ul {
    float: left;
  }
  .footer-block > ul:first-child {
    padding-left: 5%;
  }

  .footer-block > ul:nth-child(6){
    padding-right: 5%;
  }

  .under-footer {
    padding: 0 5%;
  }
}
@media ( max-width:1084px){
  .container{
    padding: 0;
  }
  nav .navbar .sub-nav .pc-menu > li:last-child::after{
    margin-right: 20px;
  }
  .main-merchandise-img>img{
     content: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE3NR20?ver=7bd2&q=0&m=8&h=609&w=1083&b=%23FFFFFFFF&l=f&x=188&y=78&s=1834&d=1031&aim=true"); 
  }
  .under-merchandise-block{
    padding: 0 5%;
  }
  .attention-block{
    padding: 0 24px;
  }
  .footer-block > ul {
    width: 33%;
  }

  .footer-block > ul:nth-child(4) {
    padding-left: 5%;
  }
  
  .footer-block > ul:first-child{
    padding-left: 24px;
  }
  .footer-block > ul:nth-child(4){
    padding-left: 24px;
  }
  .under-footer {
    padding: 0 24px;
  }
}
@media (max-width: 985px) {
  nav .navbar .main-nav {
    width: calc(100% - 280px);
    min-width: unset;
  }
  nav .navbar .main-nav .pc-menu > li:nth-child(5) {
    display: none;
  }
  nav .navbar .main-nav .pc-menu > li:nth-child(6) {
    display: none;
  }
  nav .navbar .main-nav .pc-menu > li:last-child {
    display: block;
  }

}
@media (max-width: 907px) {
  nav .navbar .main-nav .pc-menu > li:nth-child(4) {
    display: none;
  }
}
@media (max-width: 859px) {
  nav .navbar .main-nav > .pc-menu {
    display: none;
    max-width: 0px;
  }
  nav .navbar {
    position: relative;
  }
  nav .navbar .main-nav {
    min-width: unset;
    width: unset;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
  }
  nav .navbar .sub-nav .pc-menu > li:first-child {
    display: none;
  }
  .sub-nav {
    min-width: 0px;
    width: 100%;
    float: left;
  }
  nav .navbar .sub-nav .pc-menu > li:nth-child(2)::before {
    font-family: "Font Awesome\ 5 Free";
    content: "\f0c9";
    font-size: 14px;
    font-weight: 900;
    margin-right: 30px;
    padding-left: 10px;
  }
  .pc-menu > li:nth-child(3) {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {

  .main-merchandise-img > img {
    content: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE3NR20?ver=7bd2&q=0&m=8&h=431&w=767&b=%23FFFFFFFF&l=f&x=849&y=291&s=1165&d=655&aim=true"); 
  }
  .sub-merchandise-img > img{
    content: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4r2gN?ver=ac9b&q=0&m=8&h=431&w=767&b=%23FFFFFFFF&l=f&x=849&y=291&s=2120&d=795&aim=true"); 
  }

  .sub-img-inside-text {
    padding: 0;
    right: 150px;
  }
  .img-inside-text {
    position: unset;
    height: 320px;
    list-style-type: none;
    background-color: #f2f2f2;
    transform: unset;
  }
  .merchandise-name {
    padding-top: 13%;
    margin: 0;
    text-align: center;
  }
  .introduction {
    text-align: center;
  }
  .buy-btn {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .block-under-btn {
    flex-direction: column;
    padding: 0 5%;
  }
  .block-under-btn > li {
    padding: 12px;
    text-align: left;
  }
  .block-under-btn > li > a > div {
    width: auto;
    line-height: unset;
  }
  .block-under-btn-img {
    float: left;
  }
  .block-under-btn > li > a > img {
    width: 20px;
  }
  .attention-block r{
    padding:0 24px;
  }
.under-merchandise-block{
  padding: 0 5%;
}
  .sub-img-inside-text {
    position: unset;
    transform: unset;
    background-color: #f2f2f2;
    height: 320px;
  }
  .under-footer > ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 11px;
  }
  .under-footer > ul > li:first-child {
    width: 100%;
    margin-bottom: 12px;
  }
  .under-footer > ul > li:nth-child(2) {
    margin-left: 6px;
  }
  .under-footer > ul > li {
    height: 21px;
  }

}
@media (max-width: 539px) {
  .under-merchandise-block > div > a {
    width: 100%;
  }


  .footer-block >div{
    margin: 0 24px;
  }
  .footer-block > ul {
    width: 100%;
    padding: 0 12px;
  }
  .footer-block > ul:first-child {
    padding: 0 12px;
  }
  .footer-block > ul:nth-child(4) {
    padding: 0 12px;
  }
  .under-footer{
    padding: 12px;
  }
  .under-footer>ul>li{
    margin-right: 10px;
  }
  .under-footer > ul > li:nth-child(2){
    margin-left: 0;
  }
}
@media (max-width: 320px) {
  .main-merchandise-img > img {
    height: 180px;
  }

  .sub-img-inside-text {
    padding: 0 5%;
  }
  .attention-block > div {
    line-height: 32px;
  }

  .under-footer > ul > li {
    margin: 0 10px 4px 0;
  }
  .under-footer > ul > li:nth-child(2) {
    margin-left: 0;
  }
}
